body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.leaflet-container {
  height: 100vh; /* Full Viewport Height */
  width: 100%;
}

/* Simple Button Styling for later */
.btn-primary {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

/* Add this to your App.css */
.leaflet-container::after {
  content: "INDORA - AREA AVAILABLE";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.05); /* Very light grey */
  white-space: nowrap;
  pointer-events: none; /* Allows clicking through the text to the map */
  z-index: 1000;
}